*.ipch
*.bin
*.obj
*.db
*.pyc
*.vsidx
*.v2
*.user
*.user.*
*.suo
obj/
release/
debug/
release\
debug\
results/
packages/
build-Brainstart2-Desktop_Qt_5_12_12_MinGW_32_bit-Debug/
build-Brainstart2-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/
